<a href="https://colab.research.google.com/github/Navarrojuan212/Proteccion/blob/main/Introduccion_a_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
''' Cómo insertar una imagen (?)'''
# ![](https://drive.google.com/uc?export=view&id=your_id)

#[**Pandas**](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html#minutes-to-pandas)

>Es una librería rápida, de alta eficiencia para la manipulación , análisis y visualización de datos tabulares.

* Está construida sobre [Numpy](https://pypi.org/project/numpy/) y [Matplotlib](https://pypi.org/project/matplotlib/)
* Fue lanzada en el año 2012
* Popular en ciencia de datos, si se quiere trabajar con el análisis de datos se debe conocer esta herramienta de Python.
***
[Guía](https://www.youtube.com/watch?v=Mm1L4Bde6_w)

Así como en numpy, los objetos fundamentales son los nd arrays -Vectores, matrices  o tensores de n dimensiones- 

En pandas, los objetos fundamentales son los dataframes

##**¿Que es un Dataframe?**
Es un arreglo tabular para el almacenamiento de datos con una serie de propiedades particulares que facilitan su manipulación.

Un arreglo tabular, es un arreglo de filas y columnas, un objeto de 2 dimensiones en los que podemos almacenar datos de distintos tipos en la mayoria de los casos. Estos formatos tabulares siguen la misma estructura de las tablas SQL y excel (De las tablas dinámicas).

##**Algunas de las ventajas de Pandas**
Con Pandas tenemos la facilidad de anexar filas y columnas, que 
>**1. Carga de datos de distintas fuentes**
  - Hojas de Excel, archivos de texto plano, archivos json, bases de datos relacionales, etc.

>**2. Transformaciones de formas de las tablas**
  - Transformaciones de matrices piboteos, etc

>**3. Facilita las transformaciones de datos**
  - Conversiones entre tipos de datos
    - Str a datetime, str a int, manipulacion de caracteres, etc

>**4. Calculo de medidas derivadas**
  - Funciones matemáticas que aplicamos sobre columnas o filas específicas de un dataframe para generar nuevas columnas o filas.

>**5.Análisis y visualizacion de datos** 
  - Sobre los dataframe podemos computar directamente graficos de barras, tortas, histogramas, diagramas de correlación, etc. Esto sucede gracias a la integración que tiene con matplotlib.

>**6. Facilita la escritura de tablas de datos, resultantes de nuestras operaciones a distintas fuentes**
  - Facilita la escritura de tablas hacia diferentes fuentes, por ejemplo Excel, archivos de texto plano, archivos  .Json, bases de datos relacionales, etc.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import requests

In [ ]:
json_covid19 = requests.get('https://api.covid19api.com/summary').json()
datos_Covid19 = pd.DataFrame.from_dict(json_covid19['Countries'])

In [ ]:
datos_Covid19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              190 non-null    object
 1   Country         190 non-null    object
 2   CountryCode     190 non-null    object
 3   Slug            190 non-null    object
 4   NewConfirmed    190 non-null    int64
 5   TotalConfirmed  190 non-null    int64
 6   NewDeaths       190 non-null    int64
 7   TotalDeaths     190 non-null    int64
 8   NewRecovered    190 non-null    int64
 9   TotalRecovered  190 non-null    int64
 10  Date            190 non-null    object
 11  Premium         190 non-null    object
dtypes: int64(6), object(6)
memory usage: 17.9+ KB

In [ ]:
datos_Covid19.describe()

        NewConfirmed  TotalConfirmed  ...   NewRecovered  TotalRecovered
count     190.000000    1.900000e+02  ...     190.000000    1.900000e+02
mean     3879.057895    8.392175e+05  ...    3952.473684    5.038129e+05
std     26021.688471    3.206155e+06  ...   27184.813796    1.836311e+06
min         0.000000    1.000000e+00  ...       0.000000    0.000000e+00
25%         5.250000    1.134950e+04  ...       0.000000    6.640000e+03
50%       218.500000    9.404150e+04  ...      85.500000    4.690400e+04
75%      1175.250000    3.822292e+05  ...    1143.000000    2.698348e+05
max    348421.000000    3.277891e+07  ...  355338.000000    1.938264e+07

[8 rows x 6 columns]